/********************
Выполнено Разиной Элиной
28.11.2016
8-950-016-50-37
***********************/

/*подключаем шрифт open sans*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*шрифт для ссылок*/

@font-face {
  font-family: Droid Sans;
  src: url(fonts/Droid_Sans_glyphicons-halflings-regular.ttf);
}

/*****************************************
********************общие классы**********
******************************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.container {
  padding: 0 10px;
  max-width: 960px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 55px;
  padding-bottom: 45px;
  margin: 0;
}
h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 53px;
  margin-bottom: 20px;
}
/*якоря*/
/*
a.recovery{
	position:absolute;
	margin-top:-100px;}
*/
/*пустой блок чтобы при выдергивании меню 77px добавлялось 77px*/
.empty{
	height: 77px;
	margin-top: -77px;
}
/*пустой блок чтобы решить проблему с рекавери*/
.zerro{
	display: none;
	height: 77px;
}
.row{
	margin: 0;
}

/*****************************
*************блок perform****
******************************/

#backup h2 {
  margin: 0;
  padding: 0 0 40px;
}
#backup h3 {
  margin: 0 0 30px;
}
h2 {
  font-size: 24px;
}

/*.right-block {
  align-items: center;
  display: flex;
  flex-direction: column;
}*/

a.link-original {
  color: #40a7d2;
  margin-left: 0;
  font-size: 14px;
}

/*****************************
*************блок enjoy****
******************************/

#enjoy h2 {
  margin: 0;
}
#enjoy h3 {
  margin: 0 0 30px;
}
#supported_srorage h3 {
  padding: 0;
  margin-top: 0;
}
#about h2 {
  margin: 0;
  padding: 0 0 30px;
}
#about p {
  padding-bottom: 25px;
}

/*паддинги по 10px c каждой стороны*/

.box-pad {
  padding: 0 10px;
}
.inline {
  display: inline;
}
hr.navigation {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 1);
  background-color: rgb(255, 255, 255);
  opacity: 0.08;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 1, 0.12);
}
hr.navigation {
  margin: 0;
}
.hr {
  background-color: rgba( 101, 111, 124, 0.4);
  opacity: 0.4;
  height: 1px;
}
a {
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  font-family: Droid-Sans, sans-serif;
}
.icon {
  padding-right: 13px;
  padding-bottom: 13px;
}
.link-box {
  padding-bottom: 12px;
}
p {
  margin-left: 0px;
}

/*****************************
*************header****
******************************/
.unique{
	margin: 0 -15px;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  box-sizing: border-box:
}
.wrapper-top {
  position: relative;
  top: 0;
  left: 0;
  height: 84px;
  border-bottom: 5px solid #1aa91a;
}
.top-fixed {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}
.top-fixed.row {
  margin-right: -10px;
}
.wrap-blue {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  height: 79px;
  background-color: #0067c5;
  z-index: 9;
}
.wrap-white {
  position: relative;
  background-color: #fff;
  height: 79px;
  left: 0;
  top: 0;
  padding-right: 0px;
}
.green {
  width: 20px;
  height: 79px;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  background: #54b948;
  float: left;
  margin-left: -40px;
}
.blue {
  width: 0;
  height: 0;
  border-bottom: 79px solid #0067c5;
  border-left: 79px solid transparent;
  float: left;
  margin-left: -60px;
}
.triangle {
  width: 0;
  height: 0;
  border-top: 79px solid #fff;
  border-right: 79px solid transparent;
  float: left;
}
.head-one {
  padding-right: 0;
  padding-left: 0;
}
.head-right {
  padding-right: 0;
  padding-left: 0;
  background-color: #0067c5;
}
.box-blue {
  height: 79px;
  background: #0067c5;
  float: left;
  padding-right: 10px;
  box-sizing: border-box;
}
.logo-text {
  font-size: 18px;
  position: absolute;
  width: 143px;
  top: 5px;
  right: 27px;
  color: #fff;
  text-align: center;
}
.img-logo {
  float: left;
  max-width: 715px;
  width: 100%;
  padding-top: 10px;
}
#nav_button {
  height: 21px;
}
.nav-a {
  text-align: center;
  line-height: 26px;
}

/*********************************
*************основная картинка****
******************************/

.big-image {
  background-image: url("../img/header-main.jpg");
  background-size: cover;
  margin-top: 0;
  padding-top: 25px;
  /*	position: relitive;*/
  background-repeat: no-repeat;
  padding-bottom: 20px;
	max-width: 100%;
height: auto;
}
.main-info-block {
  width: 100%;
  background-color: #0067c5;
  display: inline-block;
  padding: 30px 16px;
}

/*********************************
*************форма****
******************************/

#form {
  background-color: #1a76cb;
  padding: 0 20px 20px 20px;
  border: 4px solid #3482ca;
}
input, select {
  width: 100%;
  font-size: 14px;
  margin: 5px 0;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  border: 1px solid grey;
}
.white-block {
  width: 100px;
  height: 43px;
  background-color: #fff;
  color: #f13037;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  border: 0;
}
select, option {
  border-radius: 0;
  border-width: 0;
  border-style: solid;
  border-color: initial;
  border-image: initial;
}
select option[default] {
  color: #999;
}
.text-main {
  font-size: 30px;
}
.text-block-main {
  width: 454 px;
  color: #fff;
  font-weight: 100;
}
#NetApp {
  padding-bottom: 30px;
}
#main_image {
  width: 100%;
}
.white {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 10px;
}
#button {
  background-color: #f13037;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 20px;
}
#button:hover {
  background-color: #d82c32;
}

/*********************************
*************первый серый блок с видео****
******************************/

#netApp {
  position: relative;
  width: 100%;
  height: 345px;
  background-color: #e5e9ee;
}
.b-grey {
  background-color: #e5e9ee;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  position: relative;
}

/*шрифт*/

.letters-18 {
  font-size: 14px;
}
.link {
  padding: 0 10px;
  font-size: 14px;
  color: #2b9ccc;
}
ul.video-li {
  list-style: none;
  margin: 0;
  padding-left: 0;
  -webkit-padding-start: 0px;
}
ul.video-li>li {
  display: inline-block;
}

/*********************************
*************белый блок внизу со схемой****
******************************/

.schema {
  width: 100%;
}
.left-block {
  position: absolute;
  top: 37px;
}
.right-block {
  position: absolute;
  top: 37px;
}
p {
  text-align: justify;
}
.center {
  text-align: center;
}
.pad-left {
  padding-left: 10px;
}

/*********************************
*************меню ссылок****
******************************/
#menu.default {
    width:100%;
}
#menu.fixed {
    position:fixed;
    top:0; left:0;
    width:100%;
	z-index: 1;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
nav a {
  line-height: 77px;
}
nav a:last-child {
  text-align: center;
}
nav {
/*  height: 77px;*/
  background-color: white;
}
a.active {
  color: #53af31;
  text-decoration: underline;
  padding-top: 3%;
}
a.nav_link:hover {
  color: #53af31;
  text-decoration: underline;
}
/*
menu {
  width: 100%;
}
*/
#nav_button {
  display: block;
  width: 100%;
  background-color: #f13037;
  color: white;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  font-size: 20px;
  font-size: 16px;
  line-height: 77px;
  text-align: center;
}
#nav_button:hover {
  background-color: #d82c32;
}
.nav_link {
  margin-right: 1%;
  margin-left: 1%;
  text-transform: uppercase;
  color: #40a7df;
  padding-top: 3%;
}
a.nav_link:first-child {
  margin-left: 0;
  text-transform: uppercase;
}
#nav_button {
  display: block;
  width: 100%;
  background-color: #f13037;
  color: white;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  font-size: 20px;
  font-size: 16px;
  line-height: 77px;
  text-align: center;
}
#nav_button:hover {
  background-color: #d82c32;
}
.nav_link {
  margin-right: 1%;
  margin-left: 1%;
  text-transform: uppercase;
  color: #40a7df;
  padding-top: 3%;
}

/*********************************
*************explore the benefits****
******************************/

white-block {
  background-color: #fff;
}
.center {
  text-align: center;
}
img.right_image {
  border-style: groove;
  width: 100%;
  ;
}
.img-border {
  border: 1px solid #dfdfdf;
}
#about {
  background-color: #e5e9ee;
}
.storage-system {
  width: 100%;
}

/**************************
_**********footer**********
***************************/

footer {
  background-color: #393939;
  color: white;
  bottom: 0;
  font-size: 12px;
  position: relative;
  clear: both;
  bottom: 0;
  margin-bottom: -25px;
  padding-top: 24px;
  padding-bottom: 364px;
}
.border-left {
  border-left: 1px solid grey;
}
.border-right {
  border-right: 1px solid grey;
  padding-right: -20px;
}
.footer-li {
  list-style: none;
}
#footer_link_0 {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
}
.footer-link {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  vertical-align: super;
  display: inline-block;
}
.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}

/*удаляем левый отступ у ul футера*/

.footer-list {
  padding-left: 0;
}
svg {
  margin-right: 3px;
}
